.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies.idea/
*.iml
.metadata

# Flutter tool files
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/


.idea/
.vscode/*
!.vscode/settings.json
.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

